.search-item-container {
    grid-template-rows: auto auto;
    display: grid;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.search-item-title {
    margin-bottom: 10px;
}

.book-title {
    font-size: 25px;
}

.book-author-publisher {
    font-size: 15px;
    font-style: oblique;
}

.search-item-info {
    grid-template-columns: 128px auto;
    display: grid;
}

.search-item-info-right {
    margin-left: 15px;
    margin-right: 25%;
}

.search-item-url {
    font-size: 15px;
}

.search-thumbnail {
    width: 100px;
    text-align: center;
    font-size: 20px;
}

.page-selection {
    margin-top: 15px;
    display: flex;
}

.page-selection-text {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.page-select-buttons {
    font-size: 20px;
    border: 1px solid black;
    padding-right: 10px;
}

#page-select-display-text {
    margin-left: 15px;
}

.radio-label {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 3px;
}